langchain
langchain_community
langchain-google-genai
langchain-ollama
langchainhub
langchain-huggingface
langchain_chroma
chromadb
tiktoken
beautifulsoup4
python-dotenv~=1.2.2
pypdfium2

httpx~=0.28.1
pytesseract~=0.3.13
pillow~=12.1.1
fastapi~=0.136.1
pydantic~=2.13.3